# Ficha 1

### Enunciado

Todas as empresas da área da saúde, de uma maneira ou de outra, têm de guardar a informação relativa aos
contactos pessoais dos profissionais que nela trabalham, **incluindo morada, telefone, telemóvel e e-mail, entre
outros**. 

A forma como é mantida essa informação depende muito das nossas pretensões de utilização ou das necessidades associadas.

Os “livros” de contactos podem apresentar estruturas e formatos muito diversos. Os seus utilizadores costumam personalizá-los frequentemente e neles guardam informação muito díspar e variada. 

Veja-se, a título de
exemplo, a Figura 1.

Figura 1: Exemplo de um livro de contactos.

Com base no caso apresentado, pretende-se que:

##Questões

1. Identifique e caracterize potenciais entidades envolvidas num livro de contactos idealizado por si, bem
como os vários atributos que as constituem.


**Resposta:**
|entidade|atributos|
|-|-|
|profissional|id, nome , telefone , email , morada , especialidade, cargo|
|telefones|id, numero|
|morada|id, rua , localidade , codigo postal|
|especialidade|id, nome (e.g. pneumologia)|
|cargo|id, nome (e.g. gestor)|

2. Identifique e caracterize os diversos relacionamentos que possam existir entre as entidades estabelecidas
na alínea anterior.

**Resposta:**
|entidade|relacionamento|
|-|-|
|profissional| id_telefone(s) (1:n), id_morada (1:1), id_especialidade(s) (1:n), id_cargo(s) (1:1)|
|telefones|id_profissional (n:1)|
|morada|id_profissional (1:1)|
|especialidade|id, nome (e.g. pneumologia) (n:1)|
|cargo|id, nome (e.g. gestor) (1:1)|

# Ficha 2:

### Enunciado

Uma empresa de colheitas de análises clínicas pretende desenvolver uma pequena base de dados para registar
os equipamentos que os seus funcionários utilizam nas diversas tarefas de colheita e de armazenamento que
realizam.

A empresa possui **várias viaturas** devidamente equipadas que se deslocam aos diferentes locais onde devem
ser realizadas as colheitas. Os membros da direção da empresa acreditam que, dessa maneira, conseguirão fazer
uma melhor gestão dos equipamentos da empresa, bem como reduzir os seus custos de manutenção.

Após uma reunião de trabalho com os membros da direção, com os chefes das equipas de colheita e, ob-
viamente, com todos os funcionários integrados em equipas de colheita, o arquiteto da futura base de dados
elaborou uma pequena lista de requisitos para a sua construção. 

Nessa lista figurava o seguinte: na definição
de cada serviço de colheita é necessário caracterizar a **colheita que será realizada (número, designação, data de início, data de fim, nome do cliente e local de realização)**, indicar quais os **funcionários (número, nome e categoria)** que nela vão participar, bem como o **equipamento que vai ser utilizado no trabalho** e o número de horas de utilização previsto para cada equipamento nesse trabalho.

 Além disso, será igualmente necessário registar o
funcionário que é o responsável da equipa de colheita na realização de cada um dos diferentes serviços de colheita.
Com base no caso apresentado, pretende-se que:

### Questões

1. Identifique e caracterize potenciais entidades envolvidas no estudo de caso apresentado, bem como os
vários atributos que as constituem.

**Resposta**

|entidade|atributos|
|-|-|
|colheita|id, designação, funcionário, data início, data fim, cliente, local, equipamento, horas de utilização|
|cliente| id, nome|
|local|id, rua, localidade, codigo postal|
|funcionário| id, nome, categoria|
|categoria| id, designação|
|equipamento|id, designação|


2. Identifique e caracterize os diversos relacionamentos que possam existir entre as entidades estabelecidas
na alínea anterior.

**Resposta**
|entidade|relacionamento|
|-|-|
|colheita|id_funcionário (n:n), id_cliente (n:1), id_local (1:1), equipamento (1:1)|
|cliente| id_colheita (1:n)|
|local|id_colheita (1:1)|
|funcionário|id_colheita (n:n), id_categoria(1:1)|
|categoria|id_funcionário (1:1)|
|equipamento|id_colheita (n:1)|

3. Desenhe um diagrama entidade relacionamento (ER) na notação Chen capaz de acolher os diversos objetos
de dados identificados e caracterizados nas alíneas anteriores.

![Diagrama ER](misc/ficha2_chen_diagram.png)

# Ficha 3

A inscrição e o registo das classificações nas unidades curriculares (UCs) que os alunos vão fazendo ao longo
dos anos, há muito que representam um problema relevante para os serviços académicos. Os seus responsáveis,
depois de várias reuniões de trabalho, decidiram finalmente avançar para a implementação de um novo sistema
para a gestão dos processos referidos.
Nesse sentido, promoveram várias reuniões com os serviços de informação para discutirem o plano de tra-
balho para os futuros serviços de bases de dados, bem como a estrutura da futura base de dados em si. No
final, foi apresentado um documento com os requisitos que acharam mais importantes e que gostariam de ver
refletidos na futura base de dados. Os pontos essenciais desse documento são os seguintes:

* Na altura da sua inscrição num dado curso, um aluno tem que indicar:
    * o seu nome, 
    * o seu número de contribuinte,
    * o seu número de cartão de cidadão,
    * a sua morada,
    * um ou mais números de contacto telefónico,
    * os nomes dos seus pais e
    * do seu encarregado de educação,
    * a sua data de nascimento e
    * o curso que vai frequentar.
    * cada aluno tem um identificador único

* Os cursos estarão catalogados no sistema de acordo com
* o seu identicador único, 
* a sua designação, 
* o seu ciclo de estudos (1.o, 2.oou 3.o), 
* o grau que confere e
* o número de alunos inscritos. 

Além disso, incluem também a **identificação do seu diretor** que é, obrigatoriamente, um dos **docentes da instituição**.

* No entanto, um aluno pode obviamente **estar inscrito em vários cursos**. Quando inscrito num curso, e
para garantir a sua realização, um aluno tem que realizar todas as **unidades curriculares** que pertencem
ao curso. O registo de dados do aluno associado ao curso irá conter o **número de unidades curriculares**
realizadas, o correspondente **valor em ECTs**, bem como **a sua média atual**. As **datas de início** e de **fim**
associadas ao(s) curso(s) que o aluno frequenta devem, igualmente, serem registadas.

* *Um aluno não se pode inscrever de uma só vez em todas as unidades curriculares de um dado curso, isto é,
ele tem de respeitar a regulamentação vigente sobre a frequência e a realização de unidades curriculares.
Por outro lado, a sua **data de inscrição em cada unidade curricular tem de estar registada no sistema**.

* *No final de cada semestre, os docentes das várias unidades curriculares comunicam as notas finais que os
alunos obtiveram, sendo estas posteriormente lançadas no sistema, unidade curricular a unidade curricular,
aluno a aluno. A cada classificação (nota final) está sempre associada a **data de realização** da unidade
curricular pelo aluno.

* *Como já foi referido anteriormente, as **unidades curriculares** estão integradas num dado curso. Uma
unidade curricular apenas pode pertencer a **um único curso**, estando caracterizada pelo:
    * seu identificador único e 
    * a sua designação. 
       
* Também é definida pela sua 
    * escolaridade, bem como 
    * o ano letivo e 
    * o semestre de lecionação.

* Na futura base de dados deverá, igualmente, figurar a informação relativa ao responsável das unidades
curriculares (um docente), assim como o tipo e o número de horas semanais que cada docente associado a
unidade curriculare leciona. Os docentes das unidades curriculares pertencem a um único departamento
dentro da instuição e são classificados através da sua categoria dentro da mesma, bem como são caracte-
rizados pelo seu identificador único e o seu nome. Os departamentos são unicamente caracterizados pelo
seu identidicador único e a sua designação.


Assim, com base no caso apresentado, pretende-se que:

1. Desenvolva um esquema conceptual para a base de dados requerida, de acordo com os requisitos apresen-
tados.

![Diagrama ER](misc/ficha3_chen_diag.png)


2. Utilizando o MySQL Workbench, converta o esquema conceptual produzido na alínea anterior para o seu
correspondente esquema lógico

![Diagrama ER](misc/ficha3_eer_diag.png)

# Ficha 4

### Questões

Assim, com base na resolução da Ficha PL03, pretende-se que:

1. Utilizando o MySQL Workbench, faça a geração do respetivo esquema físico para a base de dados em questão.

![Diagrama ER](misc/ficha4_eer_diag.png)

2. Desenvolva as operações necessárias para fazer o povoamento das tabelas da base de dados

Em primeiro lugar é necessário criar a tabela partindo do esquema lógico. No MySQL Workbench podemos recorrer à função "Forward Engineer". Anexo abaixo o script .sql utilizado, gerado automaticamente pela funcionalidade acima mencionada.

Posteriormente podemos inserir os dados usando o comando `INSERT`. Um exemplo abaixo de criação de algumas entradas:


```SQL

INSERT INTO aluno (nome, nif, nomc_enc_edu, nome_pai)
VALUES (
    'João Silva',
    '999999999',
    'Miguel Silva',
    'Miguel Silva',
)

INSERT INTO UC (designacao, ECTs)
VALUES (
    'Introdução a Bases de Dados',
    30
)

INSERT INTO curso (designacao, ano_letivo)
VALUES (
    'Mestrado em Bioinformática',
    1
)
```

# Ficha 5

### Enunciado

### Questões

1. Elabore um pequeno caderno de requisitos que possa justificar o esquema lógico apresentado.

É pedido um sistema de base de dados que permita registar os médicos em atividade na clínica e os seus respetivos dados (nome, data de início de serviço, data de nascimento, morada e especialidade). Cada médico deve pertencer a uma especialidade.

Deverá também ser possível criar entradas para as diferentes especialidades que podem ser consultadas na clinica, nomeadamente a sua designação e preço por consulta.

O sistema também deverá permitir registar os pacientes que são consultados na clínica e respetivos dados (nome, data de nascimento e morada)

É também pedido um sistema de registo de consultas, onde seja possível registar o paciente que foi consultado, por quem foi consultado e quando foi consultado e quanto pagou pela consulta.

2. Desenhe um possível esquema conceptual equivalente ao esquema lógico apresentado na Figura 1.

![](misc/ficha-5-chen-diag.png)

3. tilizando álgebra relacional, desenvolva as expressões necessárias, e respetivas árvores de resolução, que possam responder às seguintes questões:

* a) Qual o nome dos médicos com mais de 10 anos de serviço?

    $ \pi $<sub>nome</sub>($\sigma$<sub>data_inicio_servico < 2014</sub>(medico))

* b) Qual é o nome de todos os médicos e a respetiva especialidade que cada um exerce?

    $ \pi $ <sub>nome,especialidade</sub>($medico \Join especialidade$)

* c) Qual é o nome e a morada dos pacientes residentes na localidade de Braga?
    
    $\pi$<sub>nome,morada</sub>($paciente \ltimes \sigma$<sub>localidade=Braga</sub>(codigo postal))

* d) Qual é o nome dos médicos da especialidade de Oftalmologia?

    $\pi$<sub>nome</sub>(medico $\ltimes \sigma$ <sub>designacao='Oftalmologia'</sub>(especialidade))

* e) Qual é o nome e a idade dos médicos com mais de 40 anos de idade da especialidade de Clínica Geral?

    $\pi$<sub>nome,especialidade,2024 - data nascimento</sub>((médico $\Join \sigma$ <sub>designacao='Clinica Geral'</sub>(especialidade)) $\ltimes \sigma$<sub>data nascimento < 1984</sub>(medico)   )

* f) Qual é o nome dos médicos da especilidade de Oftalmologia que consultaram pacientes da localidade de Braga?

    $\pi$<sub>nome,especialidade</sub> ( 
        (medico $\ltimes \sigma$ <sub>designacao='Oftalmologia'</sub>(especialidade))
        $\ltimes$
        (consulta $\ltimes$ 
        (paciente $\ltimes \sigma$<sub>localidade=Braga</sub>(codigo postal)))
    )

* g) Qual é o nome e os anos de serviço dos médicos com mais de 50 anos de idade que deram consultas a partir das 12h a pacientes com menos de 20 anos de idade? 
    
    $\pi$<sub>nome,2024 - data inicio servico</sub>(
        $\sigma$<sub>data_nascimento < 1974</sub>(medico)
        $\ltimes$
        ($\sigma$<sub>data_hora > 12:00</sub>(consulta)
        $\ltimes$
        ($\sigma$ <sub>data_nascimento < 2004</sub>(paciente) $\ltimes$ $\sigma$<sub>localidade=Braga</sub>(codigo postal))))

* h) Qual é o nome e a idade dos pacientes com mais de 10 anos de idade que nunca foram consultados na especialidade de Oftalmologia?

    $\pi$<sub>nome,2024 - data_nascimento</sub>(
        $\sigma$ <sub>data_nascimento < 2014</sub>(paciente) - $\sigma$<sub>designacao = 'Oftalmologia'</sub>(especialidade))

4. Seguem abaixo os scripts gerados pelo `Forward Engineering` ao passar o esquema relacional para a base de dados:

``` sql

-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema Clinica
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema Clinica
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `Clinica` DEFAULT CHARACTER SET utf8 ;
USE `Clinica` ;

-- -----------------------------------------------------
-- Table `Clinica`.`ESPECIALIDADE`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `Clinica`.`ESPECIALIDADE` (
  `id_especialidade` INT(3) NOT NULL,
  `designacao` VARCHAR(250) NOT NULL,
  `preco` DECIMAL(6,2) NOT NULL,
  PRIMARY KEY (`id_especialidade`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `Clinica`.`CODIGO_POSTAL`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `Clinica`.`CODIGO_POSTAL` (
  `codigo_postal` VARCHAR(8) NOT NULL,
  `localidade` VARCHAR(250) NOT NULL,
  PRIMARY KEY (`codigo_postal`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `Clinica`.`MEDICO`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `Clinica`.`MEDICO` (
  `id_medico` INT(6) NOT NULL,
  `nome` VARCHAR(250) NOT NULL,
  `morada` VARCHAR(250) NOT NULL,
  `codigo_postal` VARCHAR(8) NOT NULL,
  `data_nascimento` DATE NOT NULL,
  `especialidade` INT(3) NOT NULL,
  `data_inicio_servico` DATE NOT NULL,
  INDEX `fk_med_idx` (`especialidade` ASC),
  INDEX `fk_cp_idx` (`codigo_postal` ASC),
  PRIMARY KEY (`id_medico`),
  CONSTRAINT `fk_especialidade1`
    FOREIGN KEY (`especialidade`)
    REFERENCES `Clinica`.`ESPECIALIDADE` (`id_especialidade`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_codigo_postal1`
    FOREIGN KEY (`codigo_postal`)
    REFERENCES `Clinica`.`CODIGO_POSTAL` (`codigo_postal`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `Clinica`.`PACIENTE`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `Clinica`.`PACIENTE` (
  `id_paciente` INT(6) NOT NULL,
  `nome` VARCHAR(250) NOT NULL,
  `morada` VARCHAR(250) NOT NULL,
  `codigo_postal` VARCHAR(8) NOT NULL,
  `data_nascimento` DATE NOT NULL,
  INDEX `fk_paci_idx` (`codigo_postal` ASC),
  PRIMARY KEY (`id_paciente`),
  CONSTRAINT `fk_codigo_postal2`
    FOREIGN KEY (`codigo_postal`)
    REFERENCES `Clinica`.`CODIGO_POSTAL` (`codigo_postal`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `Clinica`.`CONSULTA`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `Clinica`.`CONSULTA` (
  `id_medico` INT(6) NOT NULL,
  `id_paciente` INT(6) NOT NULL,
  `data_hora` DATETIME NOT NULL,
  `preco` DECIMAL(8,2) NOT NULL,
  PRIMARY KEY (`id_medico`, `id_paciente`, `data_hora`),
  INDEX `FK_cons02_idx` (`id_paciente` ASC),
  CONSTRAINT `fk_medico1`
    FOREIGN KEY (`id_medico`)
    REFERENCES `Clinica`.`MEDICO` (`id_medico`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_paciente1`
    FOREIGN KEY (`id_paciente`)
    REFERENCES `Clinica`.`PACIENTE` (`id_paciente`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;


```

# Ficha 6

Na Figura 1 é apresentado o esquema lógico, nomeadamente modelo relacional, da base de dados de uma
determinada clínica.
A base de dados que o esquema representa está integrada no sistema operacional principal da clínica e su-
porta todos os processos relacionados com o registo e a faturação das consultas realizadas. É de referir que o
valor pago pelo paciente em cada consulta pode ser superior ao valor de referência para a especialialidade do
médico (preço), uma vez que podem ser pagos procedimentos efetuados durante a realização da consulta.
Na folha de exercícios anterior utilizou o MySQL Workbench com o ficheiro “Ficha5_ModeloLogico.mwb”,
disponibilizado juntamente com a 5.a ficha prática laboratorial, de modo a gerar o respetivo esquema físico para
a base de dados em questão.
Com base no esquema físico gerado, pretende-se que:
1. Povoe a base de dados criada, utilizando o ficheiro “Ficha6_PovoarTabelas.sql” disponibilizado juntamente
com esta ficha prática laboratorial. O ficheiro disponibiliza igualmente a função “idade” que será muito
útil para responder a alguns dos pontos da questão 2.

![done](tabelas-povoadas.png)

2. Utilizando SQL, desenvolva os comandos necessários para responder às seguintes questões:

Foi criada uma função `anservico` para facilitar o cálculo dos anos de serviço.

``` sql

CREATE DEFINER=`root`@`localhost` FUNCTION `anservico`(dta date) RETURNS int(3)
BEGIN
RETURN TIMESTAMPDIFF(YEAR, dta, CURDATE());
END

```

* a) Qual é o nome dos médicos com mais de 10 anos de serviço?

``` sql
SELECT * FROM medico WHERE anservico(data_inicio_servico) > 10
```
|Resultado|
|-|
|123456	Jose Maria	Rua de Cima n.º 223, 5.º DTO	4700-001	1970-01-23	1	1990-02-23|
|223456	Antonio Pinto	Rua de Baixo n.º 125, 2.º ESQ	4700-003	1991-11-21	2	1990-01-23|
|323456	Manuel Maria Neves	Rua de Sul n.º 789, 9.º DTO	4700-002	1964-03-24	2	1979-07-23|
|423456	Pedro Pinto Silva	Rua de Este n.º 456, 1.º DTO	4750-002	1978-02-13	3	1980-01-23|
|523456	Marta Catarina	Rua de Cima n.º 120, 3.º ESQ	4700-001	1960-09-11	1	1971-05-23|

* b) Qual é o nome de todos os médicos e a respetiva especialidade que cada um exerce?

``` sql
SELECT medico.nome, especialidade.designacao 
FROM medico
JOIN especialidade ON medico.especialidade = especialidade.id_especialidade
```

|Resultado|
|-|
|Jose Maria	Oftalmologia|
|Antonio Pinto	Clinica Geral|
|Manuel Maria Neves	Clinica Geral|
|Pedro Pinto Silva	Cardiologia|
|Marta Catarina	Oftalmologia|

* c) Qual é o nome e a morada dos pacientes residentes na localidade de Braga?

``` sql
SELECT nome, morada
FROM paciente
JOIN codigo_postal ON paciente.codigo_postal = codigo_postal.codigo_postal
WHERE codigo_postal.localidade = 'Braga'
```
|Resultado|
|-|


* d) Qual é o nome dos médicos da especialidade de Oftalmologia?

``` sql
SELECT medico.nome, especialidade.designacao 
FROM medico
JOIN especialidade ON medico.especialidade = especialidade.id_especialidade
WHERE especialidade.designacao = 'Oftalmologia'
```
|Resultado|
|-|
|Jose Maria	Oftalmologia|
|Marta Catarina	Oftalmologia|

* e) Qual é o nome e a idade dos médicos com mais de 40 anos de idade da especialidade de Clínica Geral?

``` sql
SELECT nome, idade(data_nascimento) 
FROM medico
JOIN especialidade ON medico.especialidade = especialidade.id_especialidade
WHERE especialidade.designacao = 'Clínica Geral'

```
|Resultado|
|-|
Antonio Pinto	32
Manuel Maria Neves	59

* f) Qual é o nome dos médicos da especialidade de Oftalmologia que consultaram pacientes da localidade de Braga?

``` sql
SELECT DISTINCT medico.nome AS nome_medico, paciente.nome AS nome_paciente, especialidade.designacao as especialidade
FROM medico
JOIN especialidade ON medico.especialidade = especialidade.id_especialidade
JOIN consulta ON medico.id_medico = consulta.id_medico
JOIN paciente ON consulta.id_paciente = paciente.id_paciente
JOIN codigo_postal ON paciente.codigo_postal = codigo_postal.codigo_postal
WHERE especialidade.designacao = 'Oftalmologia' AND codigo_postal.localidade = 'Braga';

```

|Resultado|
|-|
|Jose Maria	Manuel Marques	Oftalmologia
Jose Maria	Manuel Marques	Oftalmologia
Jose Maria	Jose Manuel Marques	Oftalmologia

* g) Qual é o nome e os anos de serviço dos médicos com mais de 50 anos de idade que deram consultas a partir das 12h a pacientes com menos de 20 anos de idade?

``` sql
SELECT medico.nome AS nome_medico, anservico(medico.data_inicio_servico) AS anos_servico, idade(medico.data_nascimento) AS idade_medico, paciente.nome AS nome_paciente, idade(paciente.data_nascimento) AS idade_paciente
FROM medico
JOIN consulta ON consulta.id_medico = medico.id_medico
JOIN paciente ON consulta.id_paciente = paciente.id_paciente
WHERE idade(medico.data_nascimento) > 50 AND idade(paciente.data_nascimento) < 20

```
|Resultado|
|-|
|Manuel Maria Neves	44	59	Maria Jose Silva	11|

* h) Qual é o nome e a idade dos pacientes com mais de 10 anos de idade que nunca foram consultados na especialidade de Oftalmologia?

``` sql
SELECT paciente.nome AS paciente, idade(paciente.data_nascimento) AS idade, especialidade.designacao AS especialidade_consultada
FROM medico
JOIN consulta ON consulta.id_medico = medico.id_medico
JOIN paciente ON consulta.id_paciente = paciente.id_paciente
JOIN especialidade ON especialidade.id_especialidade = medico.especialidade
WHERE especialidade.designacao != 'Oftalmologia' AND idade(paciente.data_nascimento) > 10
```
Manuel Marques	53	Clinica Geral
Pedro Paulo	32	Clinica Geral
Pedro Paulo	32	Clinica Geral
Pedro Paulo	32	Clinica Geral
Pedro Paulo	32	Clinica Geral
Jacinto Homem	41	Clinica Geral
Sara Catarina Costa	37	Clinica Geral
Jose Carlos Moreira	53	Clinica Geral
Joana Silva	13	Clinica Geral
Maria Jose Silva	11	Clinica Geral
Sara Catarina Costa	37	Clinica Geral
Rosa Maria Carvalho	22	Clinica Geral
Manuel Marques	53	Cardiologia
Maria Jose Silva	11	Cardiologia
Sara Catarina Costa	37	Cardiologia
Rosa Maria Carvalho	22	Cardiologia

* i) Qual é o nome das especialidades que tiveram consultas no mês de janeiro de 2016?

``` sql
SELECT DISTINCT especialidade.designacao as especialidade_jan_16
FROM especialidade
JOIN medico ON especialidade.id_especialidade = medico.especialidade
JOIN consulta ON consulta.id_medico = medico.id_medico
WHERE year(consulta.data_hora) = 2016 AND month(consulta.data_hora) = 1
```
|Resultado|
|-|
|Oftalmologia|
|Clinica Geral|

* j) Qual é o nome dos médicos com mais de 30 anos de idade ou menos de 5 anos de serviço?

``` sql
SELECT nome FROM medico
WHERE idade(data_nascimento) > 30 AND anservico(data_inicio_servico) >5
```

Jose Maria
Antonio Pinto
Manuel Maria Neves
Pedro Pinto Silva
Marta Catarina

* k) Qual é o nome e a idade dos médicos de Clínica Geral que não consultaram em janeiro de 2016?

``` sql
SELECT DISTINCT nome, idade(data_nascimento) AS idade FROM medico
JOIN especialidade ON especialidade.id_especialidade = medico.especialidade
JOIN consulta ON consulta.id_medico = medico.id_medico
WHERE especialidade.designacao = 'Clínica Geral' AND (month(consulta.data_hora) IS NULL OR (month(consulta.data_hora) != 1 AND year(consulta.data_hora) != 2016))

```

* l) Qual é o nome e a idade dos pacientes que já foram consultados por todos os médicos?

``` sql
SELECT paciente.nome, idade(paciente.data_nascimento) AS idade FROM paciente
JOIN consulta ON consulta.id_paciente = paciente.id_paciente
JOIN medico ON consulta.id_medico = medico.id_medico
GROUP BY paciente.nome, idade
HAVING count(*) = (SELECT COUNT(*) FROM medico)
```
Sara Catarina Costa	37

* m) Qual é o nome das especialidades que tiveram consultas no mês de janeiro e março de 2016?

``` sql
SELECT DISTINCT especialidade.designacao as especialidade_jan_e_mar_16
FROM especialidade
JOIN medico ON especialidade.id_especialidade = medico.especialidade
JOIN consulta ON consulta.id_medico = medico.id_medico
WHERE year(consulta.data_hora) = 2016 AND (month(consulta.data_hora) = 1 OR month(consulta.data_hora) = 3)

```
|Resultado|
|-|
|Oftalmologia|
|Clinica Geral|

* n) Qual é o nome dos médicos que nunca consultaram pacientes residentes em Braga?

``` sql
SELECT DISTINCT medico.nome FROM medico
JOIN consulta ON consulta.id_medico = medico.id_medico
JOIN paciente ON consulta.id_paciente = paciente.id_paciente
JOIN codigo_postal ON codigo_postal.codigo_postal = paciente.codigo_postal
WHERE codigo_postal.localidade != 'Braga'
```

* o) Qual é o nome e a idade dos pacientes que só foram consultados a Clínica Geral?

``` sql
SELECT DISTINCT paciente.nome, idade(paciente.data_nascimento) AS idade FROM paciente
JOIN consulta ON consulta.id_paciente = paciente.id_paciente
JOIN medico ON consulta.id_medico = medico.id_medico
JOIN especialidade ON especialidade.id_especialidade = medico.especialidade
WHERE especialidade.designacao = 'Clínica Geral'

```

# Ficha 7

Na Figura 1 é apresentado o esquema lógico, nomeadamente modelo relacional, da base de dados de uma
determinada clínica.
A base de dados que o esquema representa está integrada no sistema operacional principal da clínica e su-
porta todos os processos relacionados com o registo e a faturação das consultas realizadas. É de referir que o
valor pago pelo paciente em cada consulta pode ser superior ao valor de referência para a especialialidade do
médico (preço), uma vez que podem ser pagos procedimentos efetuados durante a realização da consulta.
Utilizando a base de dados povoada com o ficheiro “Ficha6_PovoarTabelas.sql”, disponibilizado juntamente
com a 6.a ficha prática laboratorial, pretende-se que:

1. Resolva utilizando funções de agregação as alíneas k, l, n e o da questão 2 da 6 ficha prática laboratorial.

* Alinea K

``` sql
SELECT nome, idade(data_nascimento) AS idade FROM medico
JOIN especialidade ON especialidade.id_especialidade = medico.especialidade
JOIN consulta ON consulta.id_medico = medico.id_medico
WHERE especialidade.designacao = 'Clínica Geral' AND (month(consulta.data_hora) IS NULL OR (month(consulta.data_hora) != 1 AND year(consulta.data_hora) != 2016))
GROUP BY medico.nome, idade
```

* Alinea L

``` sql
SELECT paciente.nome, idade(paciente.data_nascimento) AS idade FROM paciente
JOIN consulta ON consulta.id_paciente = paciente.id_paciente
JOIN medico ON consulta.id_medico = medico.id_medico
GROUP BY paciente.nome, idade
HAVING count(*) = (SELECT COUNT(*) FROM medico)
```

* Alinea N

``` sql
SELECT medico.nome FROM medico
JOIN consulta ON consulta.id_medico = medico.id_medico
JOIN paciente ON consulta.id_paciente = paciente.id_paciente
JOIN codigo_postal ON codigo_postal.codigo_postal = paciente.codigo_postal
WHERE codigo_postal.localidade != 'Braga'
GROUP BY medico.nome
```

* Alinea O

``` sql
SELECT paciente.nome, idade(paciente.data_nascimento) AS idade FROM paciente
JOIN consulta ON consulta.id_paciente = paciente.id_paciente
JOIN medico ON consulta.id_medico = medico.id_medico
JOIN especialidade ON especialidade.id_especialidade = medico.especialidade
WHERE especialidade.designacao = 'Clínica Geral'
GROUP BY paciente.nome, idade
```

2. Utilizando SQL, desenvolva os comandos necessários para responder às seguintes questões:
(a) Apresente a média das idades dos médicos com mais de 15 anos de serviço.

``` sql
SELECT AVG(idade(data_nascimento)) FROM medico
WHERE anservico(data_inicio_servico) > 15;
```

(b) Apresente a média dos anos de serviço dos médicos para cada uma das especialidades. Devem ser
apresentadas todas as especialidades, incluindo as que não tenham médicos associados.

``` sql
SELECT especialidade.designacao AS especialidade, avg(anservico(data_inicio_servico)) AS media_anos_servico FROM medico
JOIN especialidade ON especialidade.id_especialidade = medico.especialidade
GROUP BY especialidade.designacao
```

(c) Apresente o número de consultas que estão registadas por cada um dos médicos. Devem ser apresen-
tados todos os médicos, incluindo os que nunca tenham dado consultas.

``` sql
SELECT medico.nome, COUNT(*) AS numero_consultas
FROM consulta
JOIN medico ON consulta.id_medico = medico.id_medico
GROUP BY medico.nome
```

(d) Apresente a média das idades dos pacientes por cada uma das localidades. Devem ser apresentadas
todas as localidades, incluindo as que não tenham pacientes associados.

``` sql
SELECT codigo_postal.localidade, avg(idade(paciente.data_nascimento)) AS med_idade 
FROM codigo_postal
JOIN paciente ON codigo_postal.codigo_postal = paciente.codigo_postal
GROUP BY codigo_postal.localidade
```

(e) Apresente para cada médico o valor total faturado em 2016. Devem ser apresentados todos os
médicos, incluindo os que nunca tenham dado consultas.

``` sql
SELECT medico.nome AS medico, sum(consulta.preco) AS faturado FROM medico
JOIN consulta ON consulta.id_medico = medico.id_medico
GROUP BY medico
```

(f) Apresente o número de médicos para cada uma das especialidades. Devem ser apresentadas todas as
especialidades, incluindo as que não tenham médicos associados.

``` sql
SELECT especialidade.designacao AS especialidade, count(*) AS num_medicos FROM especialidade
JOIN medico ON especialidade.id_especialidade = medico.especialidade
GROUP BY especialidade
```

(g) Para cada uma das especialidades com menos de dois médicos, apresente o valor máximo e o valor
mínimo faturado para o conjunto das consultas, bem como o seu valor médio.

``` sql
SELECT 
especialidade.designacao AS especialidade,
max(consulta.preco) AS max_faturado,
min(consulta.preco) AS min_faturado,
avg(consulta.preco) AS fat_media
FROM consulta
JOIN medico ON consulta.id_medico = medico.id_medico
JOIN especialidade  ON especialidade.id_especialidade = medico.especialidade
GROUP BY especialidade HAVING count(DISTINCT medico.id_medico) < 2
```

(h) Apresente o nome do(s) médico(s) cujo valor médio faturado em 2016 por consulta seja superior
à média por consulta desse mesmo ano, bem como o valor médio associado a cada um desses(s)
médico(s).

``` sql
SELECT medico.nome AS medico, avg(consulta.preco) AS fat_media
FROM consulta
JOIN medico ON consulta.id_medico = medico.id_medico
WHERE year(consulta.data_hora) = 2016 
GROUP BY medico.nome
HAVING fat_media > (SELECT avg(consulta.preco) FROM consulta WHERE year(consulta.data_hora) = 2016)
```

(i) Apresente o nome da(s) especialidade(s) que mais faturou (faturaram) em 2016, bem como o valor
total associado a cada uma dessa(s) especialidade(s).

``` sql
SELECT especialidade.designacao AS especialidade, sum(consulta.preco) AS faturado
FROM consulta
JOIN medico ON consulta.id_medico = medico.id_medico
JOIN especialidade  ON especialidade.id_especialidade = medico.especialidade
WHERE year(consulta.data_hora) = 2016
GROUP BY especialidade 
ORDER BY faturado DESC
LIMIT 1;
```

(j) Apresente o nome dos três médicos que mais deram consultas em 2016, bem como o número de
consultas associado a cada um desses médicos.

``` sql
SELECT medico.nome AS medico, count(*) AS num_consultas
FROM consulta
JOIN medico ON consulta.id_medico = medico.id_medico
WHERE year(consulta.data_hora) = 2016
GROUP BY medico
ORDER BY num_consultas DESC
LIMIT 3;
```